# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1 # use CircleCI 2.1

orbs:
  heroku: circleci/heroku@0.0.10

jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: /home/circleci/drepakin

    steps:
      - checkout # special step to check out source code to working directory

      # Download and cache dependencies
      - restore_cache: # special step to restore the dependency cache
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache: # special step to save the dependency cache
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm run lint

      - run: npm test # Runs jest with "--maxWorkers=2" argument to avoid OOM issues

  deploy:
    docker:
      - image: circleci/node:10

    working_directory: /home/circleci/drepakin

    steps:
      - checkout

      - run:
          name: Clever Cloud deploy
          command: |
            git remote add clever https://$CLEVER_TOKEN:$CLEVER_SECRET@push-mtl-clevercloud-customers.services.clever-cloud.com/$CLEVER_APP_ID.git
            git push clever master

  deploy_heroku:

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - heroku/deploy-via-git:
          requires:
            - build
          filters:
            branches:
              only: master
